h1 {
  text-align: center;
  font-size: 2em;
  color: #f00;
}

div {
  text-align: center;
  font-size: 1.5em;
  color: rgb(4, 110, 13);
}

.application {
  display: block;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #eee;
  margin: 15px;
  padding: 25px;
}

button {
  display: block;
  width: 300px;
  height: 100px;
  background-color: #0f0;
  color: #fff;
  font-size: 1em;
  margin: 25px auto;
  border-radius: 15px;
}

input[type="text"],
input[type="number"] {
  width: 40%;
  height: 50px;
  font-size: 1em;
  margin-bottom: 1em;
  border-radius: 15px;
}

.show {
  width: 50%;
  font-size: 2em;
  background-color: #0f0;
  color: #fff;
  padding: 15px;
  margin: 0px auto;
}

ul,
.list-style {
  list-style: none;
}
